<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado #{{datos.idOp}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/matrices.css">
</head>
<body>
    {{!-- SEPARADOR --}} 
    <section class="row">
        <div class="col-12" style="height: 25px;"></div>
    </section>
    {{!-- SEPARADOR --}}

    <section id="boton" class="row"> 
        <div class="col-5"></div>
        <div class="col-2">
            <a href="/historial"><button id="btnHistorial">Regresar al historial</button></a>
        </div>
    </section>

{{!-- TITULOS --}}
    <section id="titulos" class="row">
        <div id="separador" class="col-1"></div>
        <div id="titulo" class="col-4">Matriz A</div>
        <div id="separador" class="col-2"></div>
        <div id="titulo" class="col-4">Matriz B</div>
        <div id="separador" class="col-1"></div>
    </section>
{{!-- TITULOS --}}


    <section id="matrizAB" class="row" style="height: 100%";>
        <div id="separador" class="col-1"></div>
        <div id="espacioPTablaA" class="col-4"></div>
        <div id="espacioOperacion" class="col-2" style="height: 100%;"></div>
        <div id="espacioPTablaB" class="col-4"></div>
        <div id="separador" class="col-1"></div>
    </section>

{{!-- matriz C --}}
    <section id="titulos" class="row" style="margin-top: 50px">
        <div id="separador" class="col-4"></div>
        <div id="titulo" class="col-4">Resultado</div>
        <div id="separador" class="col-4"></div>
    </section>

    <section id="matrizResultado" class="row" {{!-- style="height: 290px;" --}}>
        <div id="separador" class="col-4"></div>
        <div id="espacioPTablaC" class="col-4"></div>
        <div id="separador" class="col-4"></div>
    </section>
</body>

<script>
    const arrOrdenAnums = []
    const arrMatrizA = []
    const arrOrdenBnums = []
    const arrMatrizB = []
    const arrOperacion = []
    const matrizOrdenResultado = []
    const arrMatrizC = []

    window.onload = function datosJsonANumeros(){
    
    //orden A
    const ordenAnum= "{{datos.ordenA}}".split(' x ')
    ordenAnum.forEach(element => {
        arrOrdenAnums.push(parseInt(element))
    });

    //matrizA
    const purosNumerosA = "{{datos.matrizA}}".replace("[",'').replace("]",'').split(",")
    purosNumerosA.forEach( element => {
        arrMatrizA.push(parseInt(element))
    });

    //orden B
    const ordenBnum= "{{datos.ordenB}}".split(' x ')
    ordenBnum.forEach(element => {
        arrOrdenBnums.push(parseInt(element))
    });
    
    //matrizB
    const purosNumerosB =" {{datos.matrizB}}".replace("[",'').replace("]",'').split(",")
    purosNumerosB.forEach( element => {
        arrMatrizB.push(parseInt(element))
    });
    
    //ordenResultado
    if("{{datos.ordenR}}"=='N/A'){
        matrizOrdenResultado.push("{{datos.ordenR}}")
    }else{
        const purosNumerosR = "{{datos.ordenR}}".replace(' x ', ' ').split(' ')
        purosNumerosR.forEach(element => {
            matrizOrdenResultado.push(parseInt(element))
        })
    }

    //resultado (matriz o letra)
    if("{{datos.resultado}}"== 'El orden de las matrices no son del mismo tamaño por lo tanto no se puede realizar la suma' || "{{datos.resultado}}" == 'El orden de las matrices no son del mismo tamaño por lo tanto no se puede realizar la resta' || "{{datos.resultado}}" == 'La cantidad de filas de la matriz A no es igual a la filas de columnas de la matriz B'){
        arrMatrizC.push("{{datos.resultado}}")
    }else{
        const purosNumerosC ="{{datos.resultado}}".replace("[",'').replace("]",'').split(",")
        purosNumerosC.forEach( element => {
            arrMatrizC.push(parseInt(element))
        });
    } 

    //operacion
    if("{{datos.tipoOp}}" == 'Multiplicacion AxB'){
        arrOperacion.push('x')
    }else if("{{datos.tipoOp}}" == 'Suma A+B' ){
        arrOperacion.push('+')
    }else{
        arrOperacion.push('-')
    }

    funciones()
}
</script>

<script src="/js/datos.js"></script>
</html>